<p>
  <b>Text:</b>
  <%= @message.text %>
</p>

<p>
  <b>Sender:</b>
  <%= @message.sender_id %>
</p>

<p>
  <b>Reciever:</b>
  <%= @message.reciever_id %>
</p>

<p>
  <b>Read:</b>
  <%= @message.read %>
</p>


<%= link_to 'Back to Inbox', inbox_user_messages_path(current_user) %>
