<span class="login_form">
  <%= form_for(:session, :url => sessions_path) do |f| %>
    
    <%= render 'invalid' %>

    <div class="field">
      <%= f.label :email, "Email Ending with '@student.umass.edu'" %></br>
      <%= f.email_field :email %>
    </div>
    <div class="field">
      <%= f.label :password %></br>
      <%= f.password_field :password %>
    </div>
    <div class="actions">
      <%= f.submit "Sign in" %>
    </div>
  <% end %>
</span>

<p>New user? <%= link_to "Sign up now!", signup_path %></p>
