<div class ="textbook_form">
  <%= form_for(textbook) do |f| %>
    <%= render 'layouts/errors', :error => textbook, :header => "couldn't update textbook" %>
    <%= f.hidden_field :admin_create, :value => true %>
    <table>
      <tr>
        <td><%= f.label :isbn, 'ISBN' %></td>
        <td><%= f.text_field :isbn %></td>
      </tr>
      <tr>
        <td><%= f.label :suffix, "Trailing 'X'" %></td>
        <td><%= f.check_box :suffix %></td>
      </tr>
      <tr>
        <td><%= f.label :title, 'Title' %></td>
        <td><%= f.text_field :title %></td>
      </tr>
      <tr>
        <td><%= f.label :author, 'Author' %></td>
        <td><%= f.text_field :author %></td>
      </tr>
      <tr>
        <td><%= f.label :summary, 'Summary' %></td>
        <td><%= f.text_area :summary, :cols => 40, :rows => 6 %></td>
      </tr>
      <tr>
        <td><%= f.label :publisher_text, 'Publisher Info' %></td>
        <td><%= f.text_field :publisher_text %></td>
      </tr>
    </table>
    <br>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>

<br>
