<div class ="textbook_form">
  <%= form_for(textbook) do |f| %>
    <table>
      <tr>
        <td><%= f.label 'ISBN', :isbn %></td>
        <td class="isbn_field"><%= f.text_field :isbn %></td>
      </tr>
      <tr>
        <td><%= f.label 'TITLE', :title %></td>
        <td class="title_field"><%= f.text_field :title %></td>
      </tr>
    </table>
  <% end %>
</div>

