<%= form_for(textbook) do |f| %>
  <%= render 'layouts/errors', :error => textbook, :header => "We couldn't find a textbook matching that ISBN" %>

  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Every book has a unique ISBN on the back cover usually located below AND above the barcorde. If you are looking for a book that you need, <b>you can find the ISBN on SPIRE</b> by following the <%= link_to "'Textbooks Summary' link", info_spire_path %> on your schedule <b>or</b> by <b>'googling' the title and author</b>. For example, if you copy and pasted this ISBN, <b>0131663011</b>, into the search field below, you would be sent to <%= link_to 'this page', textbook_path(14) %>. Once you've successfully found your book using our search, there will be links to list your book <b>'For Sale'</b> or <b>'Looking For'</b>. 
  </p>
  <div id="barcode_image">
    <%= image_tag 'barcode.png' %>
  </div>
  <div class="isbn_search padding_top">
    <%= f.label :isbn_str, 'ISBN:' %>
    <%= f.text_field :isbn_str %>
  </div>
  <br />
  <div class="actions">
    <%= f.submit "Search" %>
  </div>
<% end %>
