<%= form_for(textbook) do |f| %>
  <%= render 'errors', :textbook => textbook %>

  <div class="isbn_search">
    <%= f.label :isbn_str, 'ISBN:' %>
    <%= f.text_field :isbn_str %>
  </div>
  <div class="actions">
    <%= f.submit "Search" %>
  </div>
<% end %>
<br />
