<%= form_for(textbook) do |f| %>
  <%= render 'layouts/errors', :error => textbook, :header => "We couldn't find a textbook matching that ISBN" %>

  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Our database is organized by ISBN. Every book has a unique ISBN usually located on the back cover of the book below the barcorde.
  </p>

  <div class="isbn_search">
    <%= f.label :isbn_str, 'ISBN:' %>
    <%= f.text_field :isbn_str %>
  </div>
  <br />
  <div class="actions">
    <%= f.submit "Search" %>
  </div>
<% end %>
