<%= form_for(textbook) do |f| %>
  <%= render 'layouts/errors', :error => textbook, :header => "We couldn't find a textbook matching that ISBN" %>

  <div class="isbn_search">
    <%= f.label :isbn_str, 'ISBN:' %>
    <%= f.text_field :isbn_str %>
  </div>
  <div class="actions">
    <%= f.submit "Search" %>
  </div>
<% end %>
<br />
