<h2>Textbooks in Database</h2>

<table>
  <tr>
    <th>Isbn</th>
    <th>Author</th>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @textbooks.each do |textbook| %>
  <tr>
    <td><%= link_to textbook.isbn_dsp, textbook %></td>
    <td><%= textbook.author %></td>
    <td><%= link_to textbook.title, textbook %></td>
    <td><%= link_to 'Delete', textbook, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Search Textbooks', textbooks_search_path %>
