<p>
  <b>ISBN:</b>
  <%= @textbook.isbn_dsp %>
</p>

<p>
  <b>Title:</b>
  <%= @textbook.title %>
</p>

<p>
  <b>Author:</b>
  <%= @textbook.author %>
</p>

<% if @textbook.summary %>
  <p>
    <b>Summary:</b>
    <%= @textbook.summary %>
  </p>
<% end %>

<% if @textbook.publisher_text %>
  <p>
    <b>Publisher Info:</b>
    <%= @textbook.publisher_text %>
  </p>
<% end %>

<%= link_to 'Back to Search', textbooks_search_path %>
<% if current_user && current_user.admin? %>
<%= link_to 'Edit', edit_textbook_path(@textbook) %>
<%= link_to 'All Books', textbooks_path %>
<% end %>
