<p><%= link_to "Back to #{@textbook.title}", @textbook %></p>

<% if @listings.size > 0 %>
  <%= will_paginate @listings %>

  <table class="full_width">
    <tr class="bold">
      <td>User</td>
      <td>Short Description</td>
      <td>Asking Price</td>
      <td>Offer sent?</td>
      <td>Student Location</td>
      <td>Last renewed</td>
    </tr>
    <br />

    <% @listings.each do |listing| %>
      <tr>
        <td><%= link_to listing.poster.username, listing.poster %></td>
	<td><%= link_to listing.description_short, textbook_listing_path(@textbook, listing) %></td>
        <td><%= number_to_currency(listing.price) %></td>
        <td><%= if logged_in? && current_user.active_offer_sent_to_user_for_textbook(listing.poster.id, @textbook.id) then raw "<b> #{ number_to_currency(current_user.active_offer_sent_to_user_for_textbook(listing.poster.id, @textbook.id).price) } </b>" else raw "(none)" end %></td>
        <td>
	  <% if User.matching_locations(current_user, listing.poster) %>
	    <b><%= User.location_from_index listing.poster.location %></b>
	  <% else %>
	    <%= User.location_from_index listing.poster.location %>
	  <% end %>
	</td>
	<td><%= time_ago_in_words(listing.updated_at) %> ago</td>
      </tr>
    <% end %>
  </table>

  <br />

  <%= will_paginate @listings %>

  <p><%= link_to "Back to #{@textbook.title}", @textbook %></p>
<% else %>
  <p>Nobody has listed this book 'For Sale' yet</p>
<% end %>
