<%= link_to "Back to #{@other_user.username}'s listing for #{@textbook.title_short}", textbook_listing_path(@textbook, @listing) %><br/><br/>

<% form_for(@offer, :url => textbook_offers_path(@textbook)) do |f| %>
  <%= render 'layouts/errors', :error => @offer, :header => "We couldn't submit your offer" %>

  <%= f.hidden_field :selling, :value => true %>
  <%= f.hidden_field :reciever_id, :value => @other_user.id %>
  <%= f.hidden_field :textbook_id, :value => @textbook.id%>
  <%= f.hidden_field :listing_id, :value => @listing.id %>

  <div class="bigger">
    <% if @counter_price %>
      <b>Your Asking Price:</b> <%= number_to_currency(@listing.price) %><br/>
      <b><%= @other_user.username %>'s Offer Price: </b> <%= number_to_currency @counter_price %>
    <% else %>
      <b><%= @other_user.username %>'s Asking Price:</b> <%= number_to_currency(@listing.price) %>
    <% end %>
  </div><br/>

  <div>
    <b>Other User's Location:</b> <%= @other_user.location_str %>
  </div><br />

  <% if true == false #@listing.description %>
    <div>
      Description: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= @listing.description %>
    </div>
  <% end %>

  <div>
    <%= f.label :price, 'Offer Amount (between $299.99 and $0.01) :' %><br/><br/>
    $<%= f.text_field :price, :maxlength => 6 %>
  </div><br/>

  <div>
    <%= f.label :message, 'Message (optional)' %><br/>
    <%= f.text_area :message, :cols => 40, :rows => 4 %>
  </div>

  <div class="action">
    <%= f.submit 'Submit Sell Offer!', :onclick => "return confirm('This is a binding offer. You MUST SELL this item if the offer is accepted.')" %>
  </div>
<% end %>

<br/>
<%= link_to "Back to #{@listing.poster.username}'s listing for #{@textbook.title_short}" %>
