<% form_for(@listing, :url => textbook_listings_path(@textbook)) do |f| %>
  <%= render 'layouts/errors', :error => @listing, :header => "We couldn't list your book" %>

  <div>
    <%= f.label :price, 'Asking Price (between $0.01 and $299.99)' %><br/>
    <%= f.text_field :price %>
  </div><br />
  <div>
    <%= f.label :description, 'Description (optional) (250 character max)' %><br/>
    <%= f.text_area :description, :cols => 40, :rows => 4 %>
  </div><br/>
  <div class="action">
    <%= f.submit "List Book!" %>
  </div>
<% end %>

<br />
<%= link_to "Back to #{@textbook.title}", @textbook %>
