<table class="full_width">
  <tr>
    <td><span class="bold">ISBN: </span><%= link_to @textbook.isbn_dsp, @textbook %></td>
    <td><span class="bold">ID: </span><%= link_to @listing.id_long, textbook_listing_path(@textbook, @listing) %></td>
    <td><span class="bold">Poster: </span><%= link_to @listing.poster.username, @listing.poster %></td>
    <td><span class="bold">Location: </span><%= @listing.poster.username %></span>
    <td><span class="bold">Last Renewed: </span><%= time_ago_in_words(@listing.updated_at) %> ago</td>
  </tr>
</table>
<p class="double">Asking Price: <%= number_to_currency(@listing.price) %></p>

<% if current_user.id == @listing.poster.id %>
  <p><span class="new_link"><%= link_to "Renew your listing!", renew_textbook_listing_path(@textbook, @listing) %></span> | <%= link_to "Why?", info_why_renew_path %></p>
  <p class="new_link"><%= link_to "Edit your listing", edit_textbook_listing_path(@textbook, @listing) %></p>
  <p class="new_link"><%= link_to "Remove your listing", textbook_listing_path(@textbook, @listing), :confirm => "Are you sure you'd like to remove this listing? This will permantly remove all offers affiliated with this listing.", :method => :delete %></p>
<% else %>
    <p><%= link_to "Send #{@listing.poster.username} a message", new_user_message_path(current_user, :to => @listing.poster.username) %></p>
  <% if @selling %>
    <p class="double new_link"><%= link_to "Send #{@listing.poster.username} an Offer for this Book!", info_under_construction_path %></p>
  <% else %>
    <p class="double new_link"><%= link_to "Send #{@listing.poster.username} an Offer to Sell your Book!", info_under_construction_path %></p>
  <% end %>
<% end %>

<% if @selling %>
  <p><%= link_to "<-- View other 'For Sale' listings for #{ @textbook.title }",
  for_sale_textbook_listings_path(@textbook) %></p>
<% else %>
  <p><%= link_to "<-- View other 'Looking For' listings for #{@textbook.title}", looking_for_textbook_listings_path(@textbook) %></p>
<% end %>
