<div class="user_form">
  <%= form_for(user) do |f| %>
    <%= render 'layouts/errors', :error => user, :header => "Your new password couldn't be saved" %>

    <div class="settings">
      <%= f.label :current_password, "Current Password" %><br/>
      <%= f.password_field :current_password %>
    </div>
    <br />
    <div class="settings">
      <%= f.label :password %><br/>
      <%= f.password_field :password %>
    </div>
    <div class="settings">
      <%= f.label :password_confirmation, "Password Confirmation" %><br/>
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="settings">
      <%= f.label :location, 'Living Location (Dorms, Off Campus Apartments, Commuter)' %><br/>
      <%= f.select :location, options_for_select(User.LOCATIONS_LIST_ARRAY, user.location_str) %>
    </div>
    <div class="settings">
      <%= f.label :username, 'Username (exactly 8 characters)' %><br/>
      <%= f.text_field :username, :value => current_user.username %>
    </div>
    <div class="actions">
      <%= f.submit "Update Profile" %>
    </div>
  <% end %>
</div>

<br />
