<%= form_for(@user) do |f| %>
  <%= render 'layouts/errors', :error => @user, :header => "You're account couldn't be created" %>

  <div class="field">
    <%= f.label :email, "Email Ending with '@student.umass.edu'" %><br/>
    <%= f.email_field :email %>
  </div><br/>
  <div class="field">
    <%= f.label :password, 'Password (6 to 30 characters)' %><br/>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, 'Confirmation' %><br/>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :location, 'Show Potential Buyers or Sellers Where You Live' %><br />
    <%= f.select :location, options_for_select(User.LOCATIONS_LIST_ARRAY, @user.location_str) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
