<% offer.check_status! %>

<div class="notification_or_message <%= if offer.status == 0 then "white" end %>">
  <span class="date right">
    <span class="small_text bold">
     <% if offer.status == 0 %>Offer expires in (<%= time_ago_in_words(offer.created_at + 48.hours, true) %>) | <% end %>recieved <%= time_ago_in_words(offer.created_at, true) %> ago
    </span>

    <p class="little_bigger padding_bottom">
      <span class="float_right">Recieved Offer from: <%= link_to offer.sender.username, offer.sender %></span>
    </p>
    <p class="padding_bottom">
      <% if offer.status == 0 %><span class="right"><%= link_to "Accept and #{if offer.selling? then 'Buy' else 'Sell' end}", accept_textbook_offer_path(offer.textbook, offer), :method => :post, :confirm => "Do you really want to accept #{offer.sender.username}'s offer for #{number_to_currency offer.price}" %> | <%= link_to 'Counter Offer', counter_textbook_offer_path(offer.textbook, offer) %> | <%= link_to 'Reject', reject_textbook_offer_path(offer.textbook, offer), :method => :delete, :confirm => "Are you sure you'd like to reject this offer?" %></span><% end %>
    </p>
    <p class="little_bigger">
      <span class="float_right"><b><%= offer.sender.username %></b>'s Location: <b><%= User.location_from_index offer.sender.location %></span></b>
    </p>

  </span>
  <span class="bigger bold"><%= if offer.selling? then "Recieved Sales Offer from #{offer.sender.username}" else "Recieved Purchase Offer from #{offer.sender.username}" end %></span><br/>
  <span class="little_bigger"><%= link_to offer.textbook.title_short, textbook_path(offer.textbook) %></span><br/><br/>
  <% if offer.selling? %>
    <% if listing = offer.sender.selling_listing_from_textbook(offer.textbook_id) %>
      <span><%= offer.sender.username %>'s Asking Price: <b><%= number_to_currency listing.price %></b></span><br/> 
    <% end %>
    <% if listing = current_user.buying_listing_from_textbook(offer.textbook_id) %>
      <span>Your Asking Price: <b><%=  number_to_currency listing.price %></b></span><br/><br/>
    <% end %>
  <% else %>
    <% if listing = current_user.selling_listing_from_textbook(offer.textbook_id) %>
      <span">Your Asking Price: <b><%= number_to_currency listing.price %></b></span><br/>
    <% end %>
    <% if listing = offer.sender.buying_listing_from_textbook(offer.textbook_id) %>
      <span><%= offer.sender.username %>'s Asking Price: <b><%=  number_to_currency listing.price %></b></span><br/><br/>
    <% end %>
  <% end %>

  <span class="bigger"><%= offer.sender.username %>'s Offer: <b><%= number_to_currency offer.price %></b></span><br/><br/>

  <span><b>Status: </b><%= if offer.selling? then Offer.status_from_index offer.status, :buying => true else Offer.status_from_index offer.status, :selling => true end %></span><br/>

  <% if offer.message %>
    <br /><b>Message:</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= offer.message %><br/>
  <% end %>

  <% if offer.active? && offer.listing.description? %>
    <br/><b>Book Description: </b><%= offer.listing.description %>
  <% end %>
</div>
