<%= link_to 'Go to Deals History', deals_user_path(current_user) %>

<% if @deals.size > 0 %>
  <%= will_paginate @deals %>

  <% @deals.each do |deal| %>
    <%= render 'users/deal', :deal => deal, :selling => (deal.seller_id == current_user.id) %>
  <% end %>

  <%= will_paginate @deals %>
<% else %>
  <p>
    You don't have any deals pending
  </p>
<% end %>

<%= link_to 'Go to Deals History', deals_user_path(current_user) %>

