<p><%= link_to "Back to #{ @user.username }", @user %></p>

<% if @listings.size > 0 %>
  <%= will_paginate @listings %>

  <table class="full_width">
    <tr class="bold">
      <td>Listing ID</td>
      <td>Book Title</td>
      <td>Asking Price</td>
      <%= if @user.id != current_user.id then raw "<td>Offer sent?</td>" end %>
      <td>Last renewed</td>
    </tr>
    <br />

    <% @listings.each do |listing| %>
      <tr>
        <td><%= link_to listing.id_long, textbook_listing_path(listing.textbook, listing) %></td>
	<td><%= link_to listing.textbook.title_short, textbook_path(listing.textbook) %></td>
        <td><%= number_to_currency(listing.price) %></td>
        <% if @user.id != current_user.id %><td><%= if current_user.active_offer_sent_to_user_for_textbook(@user.id, listing.textbook) then number_to_currency(current_user.active_offer_sent_to_user_for_textbook(@user.id, listing.textbook).price) else "(none)" end %></td><% end %>
        <td><%= time_ago_in_words(listing.updated_at) %> ago</td>
      </tr>
    <% end %>
  </table>

  <br />

  <%= will_paginate @listings %>

  <p><%= link_to "Back to #{@user.username}", @user %></p>
<% else %>
  <% if @user.id == current_user.id %>
    <p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;You haven't posted any <b>'For Sale'</b> listings. To start posting, find the ISBN (usually near the barcode) on the back cover of your book, then click the (<%= link_to 'Search', textbooks_search_path %>) link in the upper-right header. Once you search for your book you can then follow the 'Post your For Sale Listing!' so other people can send you offers to buy your book. After that, you can also check to see if anyone is 'Looking For' your book and send them offers.
    </p>
  <% else %>
    <p class="bold bigger"><%= @user.username %> hasn't posted any 'For Sale' listings yet </p>
  <% end %>
<% end %>
