<p><%= link_to "Back to #{@user.username}", @user %></p>

<% if @listings.size > 0 %>
  <%= will_paginate @listings %>

  <table class="full_width">
    <tr class="bold">
      <td>Listing ID</td>
      <td>Book Title</td>
      <td>Asking Price</td>
      <td>Last renewed</td>
    </tr>
    <br />

    <% @listings.each do |listing| %>
      <tr>
        <td><%= link_to listing.id_long, textbook_listing_path(listing.textbook, listing) %></td>
	<td><%= link_to listing.textbook.title_short, textbook_path(listing.textbook) %></td>
        <td><%= number_to_currency(listing.price) %></td>
        <td><%= time_ago_in_words(listing.updated_at) %> ago</td>
      </tr>
    <% end %>
  </table>

  <br />

  <%= will_paginate @listings %>

  <p><%= link_to "Back to #{@user.username}", @user %></p>
<% else %>
  <p class="bold bigger"><%= @user.username %> hasn't posted any 'For Sale' listings yet </p>
<% end %>
