<% if current_user.admin? && current_user == @user %>
  <p>
    <b class="double">You are an administrator</b>
  </p>

  <p>
    View all users <%= link_to 'here', users_path %>
  </p>
<% end %>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<% unless @user.verified? %>
  <p>
    <%= link_to 'Verify Token:', verify_user_path(@user) %>
    <%= @user.get_token %>   *** this will be removed
  </p>
<% end %>

<%= link_to 'View Your Profile', @user %>
