<% if current_user.admin? && current_user == @user %>
  <p>
    <%= link_to 'Go to the administrator page', info_under_construction_path %>
  </p>
<% end %>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<% if 0 == 1 %>
  <p>
    <%= link_to 'Verify Token Here!', verify_user_path(@user, :token => @user.verify_token) %>
  </p>
<% end %>

<%= link_to 'View Your Profile', @user %>
