<p><%= link_to "Back to #{@user.username}", @user %></p>

<% if @listings.size > 0 %>
  <%= will_paginate @listings %>

  <table class="full_width">
    <tr class="bold">
      <td>Book Title</td>
      <td>Short Description</td>
      <td>Asking Price</td>
      <%= if @user.id != current_user.id then raw "<td>Offer sent?</td>" end %>
      <td>Last renewed</td>
    </tr>
    <br />

    <% @listings.each do |listing| %>
      <tr>
	<td><%= link_to listing.textbook.title_short, textbook_path(listing.textbook) %></td>
        <td><%= link_to listing.description_short, textbook_listing_path(listing.textbook, listing) %></td>
        <td><%= number_to_currency(listing.price) %></td>
	<% if @user.id != current_user.id %><td><%= if current_user.active_offer_sent_to_user_for_textbook(@user.id, listing.textbook) then raw "<b> #{number_to_currency(current_user.active_offer_sent_to_user_for_textbook(@user.id, listing.textbook).price)}</b>" else "(none)" end %></td><% end %>
        <td><%= time_ago_in_words(listing.updated_at) %> ago</td>
      </tr>
    <% end %>
  </table>

  <br />

  <%= will_paginate @listings %>

  <p><%= link_to "Back to #{@user.username}", @user %></p>
<% else %>
  <% if @user.id == current_user.id %>
    <p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;You haven't posted any <b>'Looking For'</b> listings yet. <b>'Looking For'</b> listings show other users that you have an interest in buying their book. To list a book as 'Looking For', you need to <%= link_to 'search', textbooks_search_path %> for it, and then follow the instructions on that page.
    </p>
  <% else %>
    <p class="bold bigger"><%= @user.username %> hasn't posted any 'Looking For' listings yet </p>
  <% end %>
<% end %>
