<%= link_to 'View your Active Offers', active_recieved_offers_user_path(current_user) %><br/>
<%= link_to 'View your Offers Sent', sent_offers_user_path(current_user) %>

<% if @offers.size > 0 %>
  <br/><br/>
  <%= will_paginate @offers %>

  <% @offers.each do |offer| %>
    <%= render 'users/recieved_offer', :offer => offer %>
  <% end %>

  <%= will_paginate @offers %><br/>

  <%= link_to 'View your Active offers', active_recieved_offers_user_path(current_user) %><br/>
  <%= link_to 'View your Offers Sent', sent_offers_user_path(current_user) %>
<% else %>
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;You haven't recieved any offers
  </p>
<% end %>


