<p class="little_bigger">
  Click either one of these links from your home page
</p>
<div>
  <%= image_tag 'list_for/screenshot0.jpg' %>
</div>
<p class="little_bigger">
  Enter the ISBN for the book you're looking for
</p>
<div>
  <%= image_tag 'list_for/screenshot1.jpg' %>
</div>
<p class="little_bigger">
  Follow the "Post your 'Looking For' listing" link
</p>
<div>
  <%= image_tag 'list_for/screenshot2.jpg' %>
</div>
<p class="little_bigger">
  Fill in your asking price and requirements of the book you're looking for
  </p>
<div>
  <%= image_tag 'list_for/screenshot3.jpg' %>
</div>
<p class="little_bigger">
  You can check all the books you're 'Looking For' by clicking on this link
</p>

<div>
  <%= image_tag 'list_for/screenshot4.jpg' %>
</div>
<p class="little_bigger">
  A list of all the books you are currently 'Looking For'
</p>

<div>
  <%= image_tag 'list_for/screenshot5.jpg' %>
</div>

<%= link_to 'Back to home page', root_path %>