<p><%= link_to "Back to Home", root_path %></p>

<% if @listings.size > 0 %>
  <%= will_paginate @listings %>

  <table class="full_width">
    <tr class="bold">
      <td>Book Title</td>
      <td>Short Description</td>
      <td>Asking Price</td>
      <td>Student Location</td>
    </tr>
    <br />

    <% @listings.each do |listing| %>
      <tr>
	<td><%= link_to listing.textbook.title_short, textbook_path(listing.textbook) %></td>
        <td><%= link_to listing.description_short, textbook_listing_path(listing.textbook, listing) %></td>
        <td><%= number_to_currency(listing.price) %></td>
	<td><%= listing.poster.location_in_words %></td>
      </tr>
    <% end %>
  </table>

  <br />

  <%= will_paginate @listings %>

  <p><%= link_to "Back to Home", root_path %></p>
<% end %>
