<p class="little_bigger">
  <b>Sign in or Sign up</b>, then click either one of these links from your home page
</p>
<div>
  <%= image_tag 'send_offer/screenshot0.jpg' %>
</div>
<p class="little_bigger">
  Enter the ISBN for the book you're looking for
</p>
<div>
  <%= image_tag 'send_offer/screenshot1.jpg' %>
</div>
<p class="little_bigger">
  Follow the link to see the current 'For Sale' listings
</p>
<div>
  <%= image_tag 'send_offer/screenshot2.jpg' %>
</div>
<p class="little_bigger">  Click on the description of the listing you'd like to send an offer for
</p>
<div>
  <%= image_tag 'send_offer/screenshot3.jpg' %>
</div>
<p class="little_bigger">
  Follow this link to send an offer
</p>

<div>
  <%= image_tag 'send_offer/screenshot4.jpg' %>
</div>
<p class="little_bigger">
  Type in your offer price and an (optional) price
</p>

<div>
  <%= image_tag 'send_offer/screenshot5.jpg' %>
</div>

<p class="little_bigger">
  The boxed in texts are links to the <b>other user's profile</b>, to <b>cancel the offer</b>, and to <b>view offers sent to you</b>. If you click on the <b>'Offers'</b> link you will go to the next screenshot
</p>

<div>
  <%= image_tag 'send_offer/screenshot6.jpg' %>
</div>

<p class="little_bigger">
  This page shows all the <b>non-active offers</b> that you have recieved
</p>

<div>
  <%= image_tag 'send_offer/screenshot7.jpg' %>
</div>

<p class="little_bigger">
  Your offers sent
</p>

<div>
  <%= image_tag 'send_offer/screenshot8.jpg' %>
</div>

<%= link_to 'Back to home page', root_path %>