<p class="little_bigger new_link">
  Fill out your information in the 'Sign up' page
</p>
<div>
  <%= image_tag 'signup/screenshot1.JPG' %>
</div><br/>
<div>
  <%= image_tag 'signup/screenshot2.JPG' %>
</div><br/>
<div>
  <%= image_tag 'signup/screenshot3.JPG' %>
</div><br/>
<div>
  <%= image_tag 'signup/screenshot4.JPG' %>
</div><br/>
<div>
  <%= image_tag 'signup/screenshot5.JPG' %>
</div><br/>
<div>
  <%= image_tag 'signup/screenshot6.JPG' %>
</div><br/>
<div>
  <%= image_tag 'signup/screenshot7.JPG' %>
</div><br/>
<div>
  <%= image_tag 'signup/screenshot8.JPG' %>
</div><br/>
<div>
  <%= image_tag 'signup/screenshot9.JPG' %>
</div><br/>

