<p class="little_bigger">
  Click the 'Sign up Here!' link
</p>
<div>
  <%= image_tag 'signup/screenshot0.jpg' %>
</div>
<p class="little_bigger">
  Fill out your information in the 'Sign up' page
</p>
<div>
  <%= image_tag 'signup/screenshot1.jpg' %>
</div>
<p class="little_bigger">
  Go to your settings to update your username
</p>
<div>
  <%= image_tag 'signup/screenshot2.jpg' %>
</div>
<p class="little_bigger">
  Fill in your current password and choose a username 
  </p>
<div>
  <%= image_tag 'signup/screenshot3.jpg' %>
</div>
<p class="little_bigger">
  Notice your updated username in the top-right. Also notice the new notification on the top-left. Click on the '1 Notification' link.
</p>

<div>
  <%= image_tag 'signup/screenshot4.jpg' %>
</div>
<p class="little_bigger">
  Check your email for the verification link
</p>

<div>
  <%= image_tag 'signup/screenshot5.jpg' %>
</div>
<p class="little_bigger">
  Click on the verification link in your '@student.umass.edu' email
</p>

<div>
  <%= image_tag 'signup/screenshot6.jpg' %>
</div>
<p class="little_bigger">
  Click the 'Verify' button
</p>

<div>
  <%= image_tag 'signup/screenshot7.jpg' %>
</div>
<p class="little_bigger">
  Check your notifications
</p>

<div>
  <%= image_tag 'signup/screenshot8.jpg' %>
</div>
<p class="little_bigger">
  You are now ready to buy/sell books
</p>

<div>
  <%= image_tag 'signup/screenshot9.jpg' %>
</div>
<p class="new_link double full_width center_text">
  <%= link_to 'Sign up Here!', signup_path %>
</p>
