<header>
  <ul class="links">
    <% if logged_in? %>
      <li><%= link_to "Home", home_user_path(current_user) %></li>
      <li><%= link_to "Profile", current_user %></li>
      <li><%= link_to "Settings", settings_user_path(current_user) %></li>
      <li><%= link_to "Sign Out", signout_path %></li>
    <% else %>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Sign in", signin_path %></li>
    <% end %>
  </ul>
</header>

<h1>UMass Textbooks</h1>
