<header>
  <% if logged_in? %>
    <ul class="links left">
      <%= raw display_link(current_user.new_notifications, :notification) %>
      <%= raw display_link(current_user.new_messages, :message) %>
      <%= link_to "'For Sale'", for_sale_listings_user_path(current_user) %>
      <%= link_to "'Looking For'", looking_for_listings_user_path(current_user) %>
      <%= raw display_link(current_user.new_offers, :offer) %>
    </ul>
  <% end %>

  <ul class="links right">
    <% if logged_in? %>
      <li>Welcome, <%= link_to current_user.username, current_user %> (<%= link_to "sign out", signout_path %><%= if current_user.verified? == false then raw " | <span class='new_link'>#{link_to 'Verify!', verify_user_path(current_user) }</span>" end %> )&nbsp; </li>
      <li><%= link_to "Buy and Sell", textbooks_search_path %></li>
      <li><%= link_to "Home", home_user_path(current_user) %></li>
      <li><%= link_to "Settings", settings_user_path(current_user) %></li>
    <% else %>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Search Books", textbooks_search_path %></li>
      <li><%= link_to "Sign in", signin_path %></li>
    <% end %>
  </ul>
</header>

<h1 class="center_text"><%= link_to 'Trade Campus Books', root_path %></h1>

<%= render 'layouts/flash', :flash => flash %>

<% if @title %>
  <h2><%= @title %></h2> 
<% end %>
